body, html {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    margin-top: 10px;
    height: 50px;
}
.primary-button {
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    background-color: #1a1f9d;
    margin: 10px 20px;
    text-transform: uppercase;
}
.primary-button:hover {
    color: white;
    background-color: #4c4fa0;
    transition: .4s;
}
.primary-form > label {
    font-size: 1.6em;
}
.subtitle {
    color: black;
}
.title+.subtitle {
    margin-top: 0;
}
.list-items {
    margin-bottom: 30px;
}
.list-items > .items {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.items > a {
    color: white;
}
.fa-cog {
    margin-top: 10px;
}
.fa-cog:hover {
    transition: .4s;
    color: #333333;
}
.fa-chevron-right {
    margin-left: 3px;
}